.app {
  padding: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-weight: 800;
}

.left-header-anchor {
  width: 1rem;
  height: 1rem;
  background: url("/asset/img/cancel.png") no-repeat;
  background-size: contain;
}

.right-header-anchor {
  width: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 3rem 0;
}

.agree-form {
  flex-grow: 1;
  position: relative;
}

.checkboxes-container {
  border-bottom: 1px solid lightgray;
}

.checkbox-container {
  margin-bottom: 2rem;
  display: block;
}

.checkbox {
  margin-right: 0.5rem;
}

.age-check-container {
  position: relative;
  display: block;
  margin-top: 1rem;
  background-color: rgba(211, 211, 211, 0.5);
  padding: 1.5rem;
  font-size: 1.25rem;
}

.age-check-container img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
}

.next-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: #2ac1bc;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.next-button:disabled {
  background-color: lightgray;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: lightgrey;
  margin-bottom: 2rem;
}
