body {
  padding: 2rem;
}

.login-form {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.login-input {
  height: 2rem;
  border-bottom: 1px solid lightgrey;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.login-button {
  background-color: #2ac1bc;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 1rem;
}

.find-account {
  width: fit-content;
  height: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: lightgray;
  font-size: 1.25rem;
  margin: 1rem auto;
}

.divider {
  height: 95%;
  width: 2px;
  background-color: lightgray;
}

.oauth-login-container {
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.oauth-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid grey;
  border-radius: 0.25rem;
  padding: 1rem 0;
}

.oauth-login img {
  height: 1rem;
}

.join-container {
  width: fit-content;
  margin: 1rem auto;
}

.join-container a {
  margin-left: 1rem;
  color: #2ac1bc;
}
