h1 {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
}

.banner {
  width: 100%;
}

.user-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid lightgrey;
}

.user__profile {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.user__name {
  font-size: 1.5rem;
}

.login-anchor {
  font-size: 1.5rem;
  color: lightgray;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: lightgrey;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  width: calc((100% - 2px) / 3);
  border-bottom: 1px solid lightgrey;
  padding: 1rem 0;
}

.category-item__icon {
  height: 2.5rem;
}

.category-item__name {
  margin-top: 0.5rem;
}

.event {
  border: solid lightgrey;
  border-width: 1rem 0;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  gap: 0.5rem;
}

.event img {
  width: 3rem;
}

.event span {
  font-size: 1.5rem;
  color: green;
}

.menu {
  padding: 2rem;
  border-top: 1px solid lightgrey;
}

.menu__title {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu__title img {
  width: 3rem;
}

.menu__description {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: grey;
}
