h2 {
  font-weight: 600;
}

input {
  all: unset;
}

.smart-input-container {
  margin: 2rem 0;
}

.smart-input__body {
  display: flex;
  gap: 0.5rem;
}

.smart-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
  border-bottom: 1px solid gray;
  padding: 0.75rem 0;
}

.smart-input--error {
  border-bottom-color: red;
}

.smart-input__inputbox {
  flex-grow: 1;
}

.smart-input__reset-btn {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("/asset/img/close-circle.png");
  background-size: cover;
}

.smart-input__validity-checker {
  width: 2rem;
  height: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/asset/img/invalid.png");
}

.smart-input__validity-checker.valid {
  background-image: url("/asset/img/valid.png");
}

.smart-input__submit-btn {
  width: 100%;
  padding: 1rem;
  border: 1px solid lightgrey;
  font-size: 1.25rem;
}

.smart-input__error-message {
  position: absolute;
  bottom: -1.25rem;
  color: red;
  font-size: 0.75rem;
}
