extends layout 

block styles
    link(rel="stylesheet", href="/style/agree.css")

block header
    header
        a(href="/login").left-header-anchor
        h1 회원가입
        a.right-header-anchor

block content
    h2 어서오세요
       br
       | 약관동의가 필요해요
    form(action="/join/auth", method="get") 
        ul.checkboxes-container
            li.master-checkbox-container
                input(type="checkbox", name='master-checkbox').checkbox.master-checkbox 
                span 전체 동의
            li.checkbox-container
                input(type="checkbox").checkbox.slave-checkbox.required-checkbox
                span 배달의민족 이용약관 동의
            li.checkbox-container
                input(type="checkbox").checkbox.slave-checkbox.required-checkbox
                span 전자금융거래 이용약관 동의
            li.checkbox-container
                input(type="checkbox").checkbox.slave-checkbox.required-checkbox
                span 개인정보 수집이용 동의
            li.checkbox-container
                input(type="checkbox").checkbox.slave-checkbox
                span 개인정보 제3자 제공 동의 (선택)
            li.checkbox-container
                input(type="checkbox").checkbox.slave-checkbox
                span 마케팅 정보 메일, SMS 수신동의 (선택)
        ul.age-checks-container
            li.age-check-container
                input(type="radio", name="age-radio-button", checked).age-check
                span 만 14세 이상입니다. 
                img(src="/asset/img/adult.png", alt="adult image")
            li.age-check-container
                input(type="radio", name="age-radio-button").age-check
                span 만 14세 미만입니다. 
                img(src="/asset/img/child.png", alt="child image")
        button(disabled).next-button 다음으로  
    script(type='module' src="/js/agree.js") 