extends layout 

block styles
    link(rel="stylesheet", href="/style/smartInput.css")
    link(rel="stylesheet", href="/style/auth.css")

block header 
    header
        a(href="/join/agree").left-header-anchor
        h1 회원가입
        button(disabled).right-header-anchor 다음

block content 
    form(action="/join/user-info", method="get").smart-input-form
        .smart-input-container 
            h2.smart-input__title 휴대전화
            .smart-input
                input.smart-input__inputbox
                button.smart-input__reset-btn
                .smart-input__validity-checker

        button(type="submit" disabled).smart-input__submit-btn 인증번호 받기
    .certification-num-container.hidden
        h2 인증번호
        input(type="text", placeholder='인증번호를 입력해주세요').certification-num-input
        button.certification-num-reissue-btn 인증번호 다시받기
    script(type='module' src="/js/auth.js") 