html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style/reset.css") 
        link(rel="stylesheet", href="/style/layout.css") 
        title #{title || '배달의 민족'}
        block styles
    body
        .app
            block header
            block content
        