extends layout

block styles
    link(rel="stylesheet", href="/style/smartInput.css")
    link(rel="stylesheet", href="/style/userInfo.css")

block header
    h1 정보 입력 페이지

block content 
    form.smart-input-form
        .smart-input-container 
            h2.smart-input__title 이메일
            .smart-input__body 
                .smart-input
                    input(type="email").smart-input__inputbox
                    .smart-input__validity-checker
                button.duplication-checker 중복확인
        .additional-info-container.hidden
            .smart-input-container 
                h2.smart-input__title 닉네임
                .smart-input
                    input(type="text").smart-input__inputbox
                    .smart-input__validity-checker
            .smart-input-container 
                h2.smart-input__title 비밀번호
                .smart-input
                    input(type="password").smart-input__inputbox
                    .smart-input__validity-checker
            .smart-input-container 
                h2.smart-input__title 생년월일
                .smart-input
                    input(type="text", placeholder='예) 1995.08.08').smart-input__inputbox
                    .smart-input__validity-checker
    script(src="/js/userInfo.js") 
